
	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	/* CSS Reset START */

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* CSS Reset END */

	body {
		background-color: #fff;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	@font-face {
		font-family: "lev";
		src: url('../../assets/fonts/levserif.otf');
	}

	h1, h2, h3, h4 {
		font-family: "lev";
	}

	h2 {
		color: #df7619;
		font-size: 56px;
	}

	h3 {
		color: #df7619;
		font-size: 34px;


	}

	.label {
		margin-left: 50px;
		padding-top: 60px;
		text-transform: uppercase;
	}

	h4 {
		color: #df7619;
		font-size: 28px;
		line-height: 0.3px;
		margin-top: 40px;
	}
	
	.container{
		margin: 10px;
		
	}

	#logo {
		float: right;
		
	}

	.logout {
		color: #806666;
		text-decoration: underline;
		margin-top: 60px;
	}

	.edit_profile {
		color: #806666;
		text-decoration: underline;
		font-size: 14px;
	}

	a:link {
		text-decoration: none;
	}

	a:visited {
		color: #806666;
	}

	header {
		height: 110px;
		padding: 40px;
	}

	nav {
		width: auto;
		background-color: #806666;
		border-top: 4px solid #d5d5d5;
		border-bottom: 4px solid #d5d5d5;
		padding: 25px;
	}

	nav ul {
		list-style-type: none;
		margin-top: 8px;
		padding: 5px;
	}

	nav ul li{
		margin-left: 40px;
		display: inline;
		font-family: "lev";
		font-size: 31px;
		color: #ead0ae;
	}

	nav ul li a:link {
		color: #ead0ae;
		text-decoration: none;

	}

	nav ul li a:visited {
		color: #ead0ae;
		text-decoration: none;
	}

	table {
		width: 82%;
		margin-top: 34px;
		margin-left: 50px;
	}

	thead {
		background-color: #806666;
		border: 4px solid #d5d5d5;

	}

	tbody {
		background-color: #d5d5d5;
		border: 4px solid #d5d5d5;

	}

	thead td {
		padding: 10px;
		font-family: "lev";
		font-size: 24px;
		color: #fff;
		text-align: center;
	}

	tbody td {
		border-left: 1px solid #ABABAB;
		border-bottom: 1px solid #ABABAB;
		padding: 10px;
		text-align: center;
		font-family: "lev";
		font-size: 17px;
	}

	td img {
		width: 40px;
	}

	.add {
		float: right;
		margin-right: 1110px;
		margin-top: -7px;
		width: 30px;
	}

	.success {
		color: green;
		background-color: #3BDB46;
		width: 100%;
		font-family: "lev";
		text-align: center;
		height: 40px;
		border-bottom: 2px solid green;
		padding-top: 20px;
		font-size: 24px;
		position: absolute;
		top: 0;
		left: 0;

	}

	#new_member {
		display: none;
	}

	.ui-dialog.success-dialog {
		font-family: "lev";

	}

	table, tr, td, th {
		border: 1px solid #969696;
		border-collapse: collapse;
	}

	tr.header {
		cursor: pointer;
		background-color: #806666;
		border: 4px solid #d5d5d5;
	}
	